<h1 style="text-align: center;">Our Products!</h1>

<div style="float: left;">
  <ul>
    {{#each product}}
    {{#unless inCart}}
    <h1>{{this.id}}: {{this.item}}</h1>
    <p><strong>{{this.seller}}</strong></p>
    <p><strong>${{this.price}}</strong></p>
    <button class="add-toCart" data-id="{{id}}" data-newinCart="{{buy}}">
      {{#if inCart}}Product Purchased{{else}}Purchase Product{{/if}}
    </button>
    {{/unless}}
    {{/each}}
  </ul>
</div>

<div style="float: right;">
  <h2>Your WishList</h2>
  <ul>
    {{#each product}}
    {{#if inCart}}
    <h1>{{this.id}}: {{this.item}}</h1>
    <p><strong>{{this.seller}}</strong></p>
    <p><strong>${{this.price}}</strong></p>
    {{/if}}
    {{/each}}
  </ul>

  <div>
    <h1 class="totalBox">Total: ${{this.priceTotal}}</h1>
  </div>
</div>