<h1 style="text-align: center;">Eat da product!</h1>

<div style="float: left;">
  <ul>
    {{#each product}}
    {{#unless inCart}}
    <h1>{{this.id}}: {{this.item}}</h1>
    <button class="change-devour" data-id="{{id}}" data-changeDevour="{{devour}}">
      {{#if inCart}}Consume da product!{{else}}Consume da product!{{/if}}
    </button>
    {{/unless}}
    {{/each}}
  </ul>
</div>

<div style="float: right;">
  <h2>products that have been DEVOURED!</h2>
  <ul>
    {{#each product}}
    {{#if inCart}}
    <h1>{{this.id}}: {{this.item}}</h1>
    {{/if}}
    {{/each}}
  </ul>
</div>

<div style="float: left; clear: left">
  <h2>Create new product</h2>
  <div class="form-group">
    <label for="title">Enter your new product:</label>
    <form class="newproduct-form" action="/product/insert" method="POST">
      <input type="text" id="productName" value="" placeholder="Enter Here" name="productName">
      <button type="submit" id="add-product">Create product</button>
    </form>
  </div>
</div>